[submodule "fei"]
	path = fei
	url = https://github.com/goattwest/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/goattwest/poema
[submodule "DocumentacionMD"]
	path = DocumentacionMD
	url = https://github.com/goattwest/DocumentacionMD.git
